body{
  padding: 10%;
  background-image:  linear-gradient(-225deg, #20032e 0%, rgb(59, 0, 59));


}

.coin-app {
  align-items: center;
  color: #ffffff;
}

.index {
  background-image: white;
  align-items: center;
  color: black;
}

.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 200%;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
}
.page-text {
  margin-bottom: 32px;
  text-size-adjust: initial;
  text-align: center;
  color: crimson;
  
}

.coin-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );
  color: #e2e2e2;
}

.coin-input::placeholder {
  color: #e2e2e2;
}

#card {
  width: 225px;
  height: 350px;
  text-align: center;
  background-image: linear-gradient(-225deg, grey 5%, black 60%);
  color: white;
}

.center {
  margin: "auto";
}

.button {
  height: 50px;
  width: 150px;
  margin-top: 30px;
}

#frontcard {
  width: 500px;
  height: 200px;
  text-align: center;
  background-image: linear-gradient(-225deg,  #ac32e4 0%,
  #7918f2 48%,
  #4801ff 100%);
  color: white;
  margin: auto;
 
}